<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>znegva.xhruy@tznvy.pbz</string>
	<key>contactName</key>
	<string>Martin Kühl</string>
	<key>description</key>
	<string>A Theme without Colours</string>
	<key>name</key>
	<string>Nothing</string>
	<key>uuid</key>
	<string>6DC7638B-4734-4C9D-BBEB-74A9FED098B8</string>
</dict>
</plist>
